<div class='row main-content'>
    <div class="col-sm-12	col-md-12	col-lg-6 section-left">
        <div class='row empty-section'></div>
        <div class='row left-display'>
            <div class='logo-name'>
                <h1 class='name'>PHILIKETROPY</h1>
                <h4 class='pronounciation'>( fi - laik - tropi )</h4>
                <img class='name' id='img' src="images/award.png">
            </div>
        </div>
        <div class='row empty-section'></div>
    </div>
    <div class="col-sm-12	col-md-12	col-lg-6 section-right">
        <div class='row empty-section'></div>
        <div class='form-content'>
            <div class = 'content'>
                <h3 class='title'>El micro-mecenazgo llega
                    <br> a las redes sociales</h3>
            </div>
            <form action="/sendEmail" method='POST' class="my-form content">
                <input class="input-phone" id="email" type="email" name='email' placeholder="email">
            </form>
            <div class = 'content'>
                <button class=' submit-button blocked'>QUIERO SABER MAS</button>

            </div>
        </div>
        <div class='row empty-section'></div>
    </div>
</div>
<footer class='row footer'>
    © 2018 Philiketropy LLC. All rights reserved.
</footer>