<div class='row main-content'>
    <div class="col-sm-12	col-md-12	col-lg-6 section-left">
        <div class='row empty-section'></div>
        <div class='row left-display'>
            <div class='logo-name'>
                <h1 class='name'>PHILIKETROPY</h1>
                <img class='name' id='img' src="images/award.png">
            </div>
        </div>
        <div class='row empty-section'></div>
    </div>
    <div class="col-sm-12	col-md-12	col-lg-6 section-right">
        <div class='row empty-section'></div>
        <div class='form-content'>
            <h1 class='title'>Es posible ser un filántropo de las redes sociales</h1>
            <form action="/sendEmail" method='POST' class="my-form">
                <input class="input-phone" id="email" type="email" name='email' placeholder="email">
                <button class='submit-button blocked'>QUIERO SABER MÁS</button>
            </form>
        </div>
        <div class='row empty-section'></div>
    </div>
</div>
<footer class='row footer'>
    © 2018 Philiketropy LLC. All rights reserved.
</footer>


<!-- <div id='grid'>
    <section class='section-left'>
        <section class='logo-name'>
            <article class='logo'>
                <img class='name' id='img' src="images/award.png">
            </article>
            <article class='name'>PHILIKETROPY</article>
        </section>
    </section>
    <section class='section-right'>
        <section class='form-content'>
            <h1 class='title'>Es posible ser un filántropo de las redes sociales</h1>
            <form action="/sendEmail" method='POST' class="my-form">
                <input class="input-phone" id="email" type="email" name='email' placeholder="email">
            </form>
            <button class='submit-button blocked'>QUIERO SABER MÁS</button>
        </section>
    </section>
    <footer>© 2018 Philiketropy LLC. All rights reserved.</footer>
</div>

 -->






























<!-- <div id='content'>

    <div class="align-items left">
        <div class='logo-content'>
            <h1 class='main-title'>
               PHI<mark class='like'>LIKE</mark>TROPY
            </h1>
            <img class='img' src="/images/moustache.png" alt="image">
        </div>

    </div>

    <div class="align-items right-side">
        <div class ='content-form'>
            
            <p class='text'>Y TÚ, ERES FILIKETROPO?</p>
            
            <form action="/sendEmail" method='POST'>

                <input class ="input-phone" id="email" type="email" name='email' placeholder="email">
                
            </form>
            <button class="submit-button blocked">NOTIFY ME</button>
        </div>

    </div>

</div> -->