<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet"> 
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body class="main-body">
    <%- body %>
  </body>
  <script type="text/javascript" src='/javascripts/main.js'></script>
</html>
