html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: "myFirstFont";
  src: url("../font/Anders.ttf");
}

.section-left {
  grid-area: section-left;
  background-color: #00c993;
}

.main-content {
  height: 90%;
}

.content{
  margin: 10px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "myFirstFont";
  font-size: 3em;
  color: white;
}

#img {
  margin: 30px;
  height: 200px;
  width: 200px;
}

.footer {
  height: 10%;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.empty-section {
  height: 20%;
}

.logo-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.form-content {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 2em;
}

.submit-button {
  background: #00c993;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
  border-radius: 40px;
  width:300px;
}

input {
  display: block;
  padding: 10px 10px;
  width: 100%;
  border: #536291 1px solid;
  border-radius: 0.2em;
  font-size: 1.5em;
  text-align: center;
}


.submit-button:active {
  background-color: #007e5c;
}

.blocked {
  pointer-events: none;
  opacity: 0.7;
}

.pronounciation {
  color: white;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 760px) {
  html,
  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }

  .title {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 1em;
  }

  input {
    display: block;
    padding: 10px 10px;
    height: 39px;
    width: 200px;
    border: #536291 1px solid;
    border-radius: 0.2em;
    font-size: 1.5em;
    text-align: center;
  }

  #img {
    margin: 10px;
    height: 100px;
    width: 100px;
  }

  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "myFirstFont";
    font-size: 2em;
    color: white;
  }

  .submit-button {
    background: #00c993;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px;
    border-radius: 40px;
    width:200px;
  }

  .my-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer {
    font-size: 10px;
    height: 10%;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .form-content {
    height: 80%;
    text-align: center;
  }

  .empty-section {
    height: 10%;
  }

  .left-display{
    height: 80%;
  }


}
